@let emailControl = facade.loginForm.controls.email;
@let passwordControl = facade.loginForm.controls.password;
@let isLoading = facade.isLoading();

<form
  tuiAppearance="floating"
  tuiCardLarge
  tuiForm="m"
  class="form"
  [style.max-width.rem]="32"
  [formGroup]="facade.loginForm"
  (submit)="$event.preventDefault(); facade.login()"
>
  <tui-textfield iconStart="@tui.mail">
    <label tuiLabel for="email">{{ 'login.email' | transloco }}</label>
    <input [formControl]="emailControl" placeholder="john@wick.com" tuiInput type="email" id="email" />
  </tui-textfield>
  <tui-error [formControl]="emailControl" />

  <tui-textfield iconStart="@tui.lock">
    <label tuiLabel for="password">{{ 'login.password' | transloco }}</label>
    <input id="password" [formControl]="passwordControl" placeholder="Aa888888" tuiInput type="password" />
    <tui-icon tuiPassword />
  </tui-textfield>
  <tui-error [formControl]="passwordControl" />

  <footer class="footer">
    <button tuiButton type="submit" [disabled]="facade.loginForm.invalid || isLoading">
      <div *deluluLoader="isLoading">
        {{ 'login.submit' | transloco }}
      </div>
    </button>

    <span class="divider"></span>

    <button appearance="secondary" tuiButton type="button" (click)="facade.loginWithGoogle()" [disabled]="isLoading">
      <div *deluluLoader="isLoading">
        {{ 'login.google' | transloco }}
      </div>
    </button>

    <button appearance="secondary" tuiButton type="button" (click)="facade.loginWithGithub()" [disabled]="isLoading">
      <div *deluluLoader="isLoading">
        {{ 'login.github' | transloco }}
      </div>
    </button>
    <a routerLink="/register" class="link">{{ 'login.register' | transloco }}</a>
  </footer>
</form>
